<a href="#" class="emoji-bttn d-flex align-items-center fw-600 text-grey-900 text-dark lh-26 font-xssss me-2">
    <!-- <img src="/assets/images/feedback/like.png" width="20" alt=""/> -->
    
    2.8K Like
</a>

<div class="emoji-wrap theme-dark-bg p-2 active">
    <ul class="emojis list-inline mb-0 p-0 d-flex gap-1">
        <li class="emoji list-inline-item">
            <img src="/assets/images/feedback/like.png" width="20" alt="">
        </li>
        <li class="emoji list-inline-item">
            <img src="/assets/images/feedback/hearth.png" width="20" alt="">
        </li>
        <li class="emoji list-inline-item">
            <img src="/assets/images/feedback/solidaire.png" width="20" alt="">
        </li>
        <li class="emoji list-inline-item">
            <img src="/assets/images/feedback/haha.png" width="20" alt="">
        </li>
        <li class="emoji list-inline-item">
            <img src="/assets/images/feedback/wahou.png" width="20" alt="">
        </li>
        <li class="emoji list-inline-item">
            <img src="/assets/images/feedback/trite.png" width="20" alt="">
        </li>
        <li class="emoji list-inline-item">
            <img src="/assets/images/feedback/angry.png" width="20" alt="">
        </li>

    </ul>
</div>